@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .list {
        display: none;
    }
    .icons .se {
        display: none;
    }
    .icons .bar {
        display: block;
    }
    .header-content {
        margin-top: 20px;
        padding: 40px 0px;
    }

    .card-content .row {
        display: block;
    }

    .card-content .row .col {
        width: 80%;
        margin: 20px auto;
    }
    .burger-content .burger-p{
        width: 100%;
        margin-top: 20px;
    }

}

@media only screen and (max-width:576px) {
     .card-content .row .col {
        width: 100%;
        margin: 20px auto;
    }
}