@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 0 auto;
}

#header {
    /* height: 600px; */
    background: url("/img/Headerimg.png");
    padding: 30px 0px;
    background-size: 100% 100%;

}

.nav {
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    width: 200px;
}

.list .nav-li {
    display: inline-block;
    margin: 0px 10px;
}

.nav-li .nav-a {
    font-size: 21px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-decoration: none;
}

.icons .se {
    font-size: 21px;
    color: #3d2514;
}

.icons .bar {
    font-size: 21px;
    color: #3d2514;
    display: none;
}

.header-content {
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    padding: 70px 0px;
    margin-top: 50px;
}

.header-content .header-p {
    font-size: clamp(16px, 3.5vw, 24px);
    font-family: "Bebas Neue";
}

.header-content .header-h1 {
    font-size: clamp(20px, 7.8vw, 114px);
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}

.header-content .header-h3 {
    font-size: clamp(17px, 4.8vw, 56px);
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}

.image-container {
    width: 90%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.big-image,
.small-image {
    position: relative;
    container-type: inline-size;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.big-image {
    grid-row: 1 / 3;
}

.small-image {
    width: 100%;
}

.image-text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

    color: white;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-weight: 400;
}

.image-text span {
    font-size: clamp(5px, 1.5vw, 20px);
    font-weight: bold;
}

.image-text h2 {
    margin-top: 3px;
    font-size: clamp(7px, 2.2vw, 32px);
}

.lable {
    width: clamp(220px, 19vw, 345px);
    background-color: #ffc045;
    color: #3d2514;

    font-family: "Bebas Neue";
    font-size: clamp(14px, 1.5vw, 19px);
    font-weight: 400;

    text-transform: uppercase;
    text-align: center;

    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    box-sizing: border-box;

}

#burger {
    padding: 20px 0px;
}

.burger-content {
    color: #3d2514;
    text-align: center;
}

.burger-content .burger-h1 {
    font-size: clamp(17px, 4.8vw, 50px);
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.burger-content .burger-p {
    font-size: clamp(16px, 3.5vw, 19px);
    font-weight: 100;
    font-family: "Montserrat";
    width: 80%;
    margin: 0 auto;
}

.card-content {
    margin: 40px 0px;
}

.card-content .row {
    display: flex;
}

.card-content .row .col {
    /* border: 2px solid; */
    width: 33.33%;
}

.card .card-img {
    /* width: 400px; */
    height: 300px;
}

.card-text {
    text-align: center;
    color: #3d2514;
}

.card-text .card-h4 {
    font-size: clamp(18px, 4.6vw, 30px);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Bebas Neue";
}

.card-text .card-p {
    font-size: clamp(16px, 3.5vw, 19px);
    font-weight: 100;
    width: 80%;
    margin: 20px auto;
    font-family: "Montserrat";
}

.card-text .card-btn {
    font-size: clamp(16px, 3.5vw, 19px);
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-family: "Alfa Slab One";
    background-color: #bf2222;
}



.event-h4 {
    font-size: clamp(17px, 3.8vw, 25px);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Bebas Neue";
}

.event-h1 {
    font-size: clamp(28px, 4.8vw, 42px);
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.event-p {
    width: 531px;
    font-size: clamp(16px, 3.5vw, 21px);
    color: #3d3d3d;
    width: 100%;

    font-weight: 100;
    font-family: "Montserrat";
}

.event-container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 25px;

    display: flex;
    gap: 30px;

    box-sizing: border-box;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
}

.event-content {
    width: 50%;
    min-width: 0;
}

.event-img {
    width: 50%;
    min-width: 0;
}

.event-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;

}

.info-content {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;

}

.info-content .info-h4 {
    font-size: clamp(18px, 3.6vw, 29px);
    color: #3d2514;
    font-weight: 300;
    font-family: "Bebas Neue";
}

.info-content .info-h1 {
    font-size: clamp(20px, 4.6vw, 50px);
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.details {
    width: 60%;
    margin: 50px auto;
    text-transform: uppercase;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
}

.details input {
    width: 100%;
    height: 65px;
    padding: 0 20px;

    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #bebebe;

    font-family: "Bebas Neue";
    font-size: 18px;
    box-sizing: border-box;

}

.details-btn {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 5px;
    background-color: #bf2222;
    color: white;
    font-size: clamp(18px, 3.8vw, 25px);
    font-family: "Alfa Slab One";
    cursor: pointer;
}

#foot{
    /* background: gray; */
    background-image: url("/img/footer.png");
    background-size: 100% 100%;
    padding: 50px 0px;
}
#foot .row{
    display: flex;
}
#foot .row .col-4{
    /* border: 2px solid; */
    width: 40%;
}
#foot .row .col-6{
    /* border: 2px solid; */
    width: 60%;
}
.data .row{
    display: flex;
}
.data .row .col{
    width: 33.33%;
    /* border: 2px solid gold; */
}

.foot-h3{
   font-size: clamp(20px, 4.7vw, 30px);
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.foot-ul{
    list-style: none;
    margin-top: 20px;
}
.foot-ul .foot-li{
    margin: 10px 0px;
}
.foot-ul .foot-li .foot-a{
        font-size: clamp(16px, 4vw, 24px);
        color: white;
        text-decoration: none;
}
.foot-p{
     font-size: clamp(16px, 4vw, 24px);
        color: white;
        width: 90%;
}