* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #27292f;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 100%;
    max-width: 900px;
    padding: 55px 53px 25px;
}

/* Display */
.display-box {
    height: 125px;
    border: 3px solid #555b63;
    border-radius: 48px;
    padding: 35px;
    margin-bottom: 28px;
    position: relative;
}



#display {
    position: absolute;
    right: 50px;
    bottom: 20px;
    color: #e1e1e1;
    font-size: 60px;
    font-weight: 300;
    max-width: 85%;
    overflow: hidden;
}

/* Button Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 90px;
    border: none;
    border-radius: 65px;
    background: #3b3f47;
    color: #d6d9e3;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #4a4f58;
}

button:active {
    transform: scale(0.96);
}

.equal {
    background: #9db4dc;
    color: #252b35;
    font-size: 50px;
}

.equal:hover {
    background: #afc5eb;
}

