@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


/* ================= COMMON ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;

}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

:root {
    --cream: #ffe0b5;
    --dark: #4a1930;
    --dark-text: #442d3b;
    --pink: #d93757;
}


/* ================= NAVBAR ================= */

.navbar {
    height: 54px;
    background: var(--dark);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 10;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 38px;
}

.navbar nav a {
    text-decoration: none;
    color: #ead6cb;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #fff;
}

.logo-mobile {
    display: none;
    color: white;
}


/* ================= HERO ================= */

.hero {
    min-height: 465px;
    background: #132026;

    display: flex;
    position: relative;
    overflow: hidden;
}

.hero-content {
    width: 53%;
    padding-left: 4.5%;
    padding-top: 35px;

    position: relative;
    z-index: 2;

    color: var(--cream);
}

.logo {
    text-align: center;
    width: 90px;
}

.logo-icon {
    width: 100px;
    height: 100px;

    border: none;

    margin: 0 auto 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.hero h1 {
    font-size: clamp(42px, 7vw, 68px);
    letter-spacing: 2px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.hero-text {
    width: 300px;
    font-size: 16px;
    line-height: 1.4;
    color: #c4b5ae;
}

.btn-light {
    width: 150px;
    height: 38px;

    border-radius: 25px;

    background: var(--cream);
    color: var(--dark);

    font-size: 16px;
    font-weight: 700;

    margin-top: 24px;

    transition: 0.3s;
}

.btn-light:hover {
    transform: scale(1.05);
    background: white;
}

.hero-image {
    position: absolute;
    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* ================= MENU INTRO ================= */

.menu-intro {
    min-height: 350px;

    background: var(--cream);

    text-align: center;

    padding: 58px 20px;
}

.menu-intro h2 {
    font-size: clamp(24px, 4vw, 40px);
    color: var(--dark-text);
    margin-bottom: 14px;
}

.menu-intro p {
    margin: auto;
    width: 40%;

    font-size: 16px;
    line-height: 1.5;
    color: #51434a;
}

.btn-dark {
    width: 150px;
    height: 38px;

    border-radius: 25px;

    background: var(--dark);
    color: #f7e4c9;

    font-size: 16px;
    font-weight: 700;

    margin-top: 25px;

    transition: 0.3s;
}

.btn-dark:hover {
    transform: scale(1.05);
}


/* ================= FOOD STRIP ================= */



.food-strip img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}


/* ================= ABOUT ================= */

.about {

    background: var(--cream);

    display: flex;
    align-items: center;

    padding: 40px 6%;
    gap: 45px;
}

.about-image {
    width: 50%;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.about-content {
    width: 50%;
}

.about-content h2 {
    color: var(--dark-text);
    font-size: clamp(26px, 4vw, 40px);

    margin-bottom: 14px;
}

.about-content p {
    max-width: 320px;

    font-size: 16px;
    line-height: 1.5;

    color: #51434a;
}


/* ================= DISCOUNT ================= */


.discount {
    background-color: var(--cream);
    height: 440px;
    position: relative;
    overflow: hidden;
}

.discount-content {
    position: relative;
    z-index: 5;
    padding: 70px 7% 0;
}

.discount h2 {
    font-size: 32px;
    line-height: 0.9;
    color: var(--dark);
    font-weight: 800;
}

.discount h2 span {
    font-size: 64px;
    color: #e63956;
}

.discount h2 strong {
    font-size: 52px;
    color: #6cc5ac;
}

/* Taco Image */
.taco-image {
    position: absolute;
    left: 22%;
    bottom: 0;
    z-index: 2;
    width: 80%;
    padding: 0;
}

.taco-image img {
    width: auto;
    height: 430px;   /* image ni size control */
    width: 100%;
    display: block;
    object-fit: contain;
}


/* ================= OFFERS ================= */

.offers {
    min-height: 360px;

    background: var(--dark);

    display: flex;
    align-items: center;

    padding: 40px 9%;
}

.offers-content {
    width: 50%;
}

.offers-content h2 {
    color: var(--cream);
    font-size: clamp(25px, 4vw, 40px);

    margin-bottom: 18px;
}

.offers-content p {
    color: #d6c4c4;

    max-width: 270px;

    font-size: 16px;
    line-height: 1.5;
}

.offers-image {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.offers-image img {
    width: min(100%, 350px);
}


/* ================= TESTIMONIAL ================= */

.testimonial {
    min-height: 450px;

    background-image:
        linear-gradient(rgba(10, 5, 10, 0.68),
            rgba(10, 5, 10, 0.68)),
        url("img/testimonial-bg.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.testimonial-overlay {
    color: white;
    padding: 30px 20px;
}

.testimonial-logo img {
    font-size: 48px;
    margin: 0px auto;
}

.testimonial-logo h2 {
    font-size: 23px;
    color: var(--cream);

    margin-bottom: 22px;
}

.testimonial p {
    font-size: clamp(13px, 2vw, 17px);
    font-weight: 600;

    line-height: 1.35;

    margin-bottom: 15px;
}

.testimonial h3 {
    color: var(--cream);
    font-size: 16px;
}


/* ================= SUBSCRIBE ================= */

.subscribe {
    min-height: 300px;

    background: var(--cream);

    text-align: center;

    padding: 60px 20px;
}

.subscribe h2 {
    font-size: clamp(25px, 4vw, 40px);

    color: var(--dark-text);

    margin-bottom: 18px;
}

.subscribe p {
    max-width: 450px;

    margin: auto;

    font-size: 16px;
    line-height: 1.5;

    color: #55444d;
}

.subscribe form {
    width: min(100%, 380px);
    height: 38px;

    margin: 38px auto 0;

    display: flex;

    background: white;

    border-radius: 25px;

    overflow: hidden;
}

.subscribe input {
    width: 70%;

    border: none;
    outline: none;

    padding: 0 18px;

    font-size: 16px;
}

.subscribe button {
    width: 30%;

    background: var(--dark);
    color: white;

    font-size: 15px;
    font-weight: 700;

    border-radius: 25px;
}


/* ================= FOOTER ================= */

footer {
    min-height: 330px;

    background: var(--dark);

    padding: 70px 6% 50px;
}

.footer-container {
    max-width: 1100px;

    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

    gap: 40px;
}

.footer-col h3 {
    color: var(--cream);

    font-size: 18px;
    font-weight: 500;

    margin-bottom: 16px;
}

.footer-col p {
    color: #dbc9c9;

    max-width: 220px;

    font-size: 16px;
    line-height: 1.6;
}

.footer-col a {
    display: block;

    text-decoration: none;

    color: #dac7c7;

    font-size: 16px;

    margin-bottom: 8px;

    transition: 0.3s;
}

.footer-col a:hover {
    color: white;
}

.social-icons {
    display: flex;
    gap: 13px;

    margin-top: 18px;
}

.social-icons a {
    width: 19px;
    height: 19px;

    border-radius: 50%;

    background: var(--cream);
    color: var(--dark) !important;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0;
}

.social-icons i {
    font-size: 18px;
}